name: dev-alpineedge

on:
  push:
    branches: ['**']
    tags-ignore: ['**']
  workflow_dispatch:

jobs:
  test-alpineedge:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
      -
        name: Checkout shUnit2
        uses: actions/checkout@v3
        with:
          repository: kward/shunit2
          ref: v2.1.8
          path: ./shunit2
      -
        name: Run tests
        run: |
          RUN=./tests/run-git.sh && chmod +x ${RUN} && ${RUN}
  build-alpineedge:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
      -
        name: Get repository name
        run: echo "REPOSITORY_NAME=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV
        shell: bash
      -
        name: Read image version
        uses: bfren/read-file@v1
        with:
          file: ./VERSION_MINOR
        id: version_minor
      -
        name: Read image version
        uses: bfren/read-file@v1
        with:
          file: ./VERSION
        id: version
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./edge/Dockerfile
          build-args: |
            BF_IMAGE=${{ env.REPOSITORY_NAME }}
            BF_VERSION=${{ steps.version.outputs.contents }}
          push: ${{ startsWith(github.ref, 'refs/heads/') }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          tags: |
            bfren/alpine-s6:alpineedge-dev
            bfren/alpine-s6:alpineedge-${{ steps.version_minor.outputs.contents }}-beta
            bfren/alpine-s6:alpineedge-${{ steps.version.outputs.contents }}-beta
            ghcr.io/bfren/alpine-s6:alpineedge-dev
            ghcr.io/bfren/alpine-s6:alpineedge-${{ steps.version_minor.outputs.contents }}-beta
            ghcr.io/bfren/alpine-s6:alpineedge-${{ steps.version.outputs.contents }}-beta
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
